@font-face {
  font-family: 'proximaNovaBold';
  src: url('/assets/fonts/proximaNovaBold.otf');
}

@font-face {
  font-family: 'proximaNovaRegular';
  src: url('/assets/fonts/proximaNovaRegular.otf');
}

.main-container {
  font-family: 'proximaNovaRegular';
}

.header {
  background: white;
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  border-bottom: 1px solid #eff0f1;
}

.header-image-container {
  min-width: 1200px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-image-container {
  min-width: 1200px;
  max-width: 1440px;
  margin: 0 auto;
}

.header-img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -2px;
}

.footer {
  background: #3f484d;
  width: 100%;
  margin-top: 50px;
}


.footer-img {
  width: 100%;
  margin: 0 auto;
}

.title {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  width: 61%;
  margin: 0 auto;
  line-height: 47px;
  margin-top: 80px;
  max-width: 850px;
}

.sub-title {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'proximaNovaBold';
}

.numbers {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  max-width: 1000px;
}

.locator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 54%;
  margin: 50px auto;
  height: 55px;
  align-items: center;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  margin-top: 71px;
  max-height: 400px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.brand-subtitle {
  width: 100%;
  text-align: center;
  font-family: 'proximaNovaBold';
  font-size: 17px;
  color: #3D454D;
  margin: 20px auto;
}

.hero-title {
  z-index: 999;
  font-size: 40px;
  color: white;
  text-align: left;
  width: 100%;
  margin-left: 100px;
  font-family: 'proximaNovaRegular';
}

.dark-layout {
  width: 100%;
  padding: 1000px;
  top: 0;
  left: 0;
  opacity: .8;
  background: #3D454D;
  position: absolute;
}

.brandlist {
  display: flex;
  width: 80%;
  max-width: 1100px;
  margin: 60px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand {
  margin-bottom: 40px;
  position: relative;
}


.buttons {
  display: flex;
  width: 49%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.button {
  color: #31cca3;
}

.button-next {
  padding: 15px 40px;
  background: #31cca3;
  color: white;
  border: 1px solid #4ba29a;
  border-radius: 2px;
}

.stages {
  display: flex;
  justify-content: space-between;
  color: #31cca3;
  width: 100%;
  max-width: 950px;
}

.margin-left {
  margin-left: -15px;
}

.stage {
  font-size: 13px;
}

.line {
  border: 2px solid #959EAE;
  width: 25%;
  z-index: -1;
  margin-top: 13px;
}

.line-enabled {
  border: 2px solid #31cca3;
}

.previous {
  color: white;
  background: #31cca3;
  border-radius: 50%;
  border: 2px solid #31cca3;
}

.enabled {
  color: #31cca3;
  background: white;
  border-radius: 50%;
  border: 2px solid #31cca3;
}

.stage-enabled {
  color: #31cca3;
}

.stage-disabled {
  color: #959EAE;
}

.disabled {
  background: #959EAE;
  border-radius: 50%;
  color: #959EAE;
}

.disabled-with-border {
  background: #959EAE;
  color: white;
  border-radius: 50%;
  border: 2px solid #959EAE;
}

.categories-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1295px;
  margin: 0px auto;
}

.category {
  width: 417px;
  height: 380px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category-title {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 40%;
  font-size: 30px;
}

.img-category {
  width: 100%;
  transition: grayscale .15s ease-in-out;
  transition: all .2s ease-in-out;
}

.image-hover {
  transform: scale(1.1);
}

.overlay {
  background: #3D454D;
  position: absolute;
  width: 0px;
  padding: 100%;
  opacity: .7;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.digits {
  outline: none;
  width: 100%;
  height: 80%;
  font-size: 50px;
  color: gray;
  border: none;
  align-self: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.digits::-webkit-outer-spin-button,
.digits::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dollar-sign {
  font-size: 60px;
  margin-left: 10px;
  color: #54d0aa;
}

.input-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 150px;
  justify-content: center;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  width: 500px;
  height: 80px;
  border: 1px solid gray;
}

.food-and-beverage {
  width: 118%;
}

.big-pets {
  width: 141%;
}

.subtitle-budget {
  width: 25%;
  line-height: 28px;
  color: #3D454D;
}
