@font-face {
    font-family: 'proximaNovaBold';
    src: url('/assets/fonts/proximaNovaBold.otf');
}

@font-face {
    font-family: 'proximaNovaRegular';
    src: url('/assets/fonts/proximaNovaRegular.otf');
}

.main-container {
  font-family: 'proximaNovaRegular';
}

.title {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  width: 61%;
  margin: 0 auto;
  line-height: 47px;
  margin-top: 30px;
}

.sub-title {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'proximaNovaBold';
}

.numbers {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.locator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 54%;
  margin: 50px auto;
  height: 55px;
}

.dot {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
	width: 30px;
	height: 30px;
  border: 2px solid #31cca3;
  font-weight: bold;
  color: #31cca3
}

.stages {
  display: flex;
  justify-content: space-around;
  color: #31cca3
}

.stage {
  font-size: 13px
}

.line {
  border: 2px solid #31cca3;
  position: absolute;
  width: 71%;
  left: 14%;
  top: 75%;
  z-index: -1;
}

.categories-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1295px;
  margin: 0px auto;
}

.category {
  width: 417px;
  height: 380px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category-title {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 40%;
  font-size: 30px;
}

.food-and-beverage {
  width: 118%;
}

img {
  width: 100%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: grayscale .15s ease-in-out;
  transition: all .2s ease-in-out;

}

.image-hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}

.overlay {
  background: RGB(61, 69, 77);
  position: absolute;
  width: 0px;
  padding: 100%;
  opacity: .3;
  z-index: 1;
}
