@font-face {
    font-family: 'proximaNovaBold';
    src: url('/assets/fonts/proximaNovaBold.otf');
}

@font-face {
    font-family: 'proximaNovaRegular';
    src: url('/assets/fonts/proximaNovaRegular.otf');
}

.main-container {
  font-family: 'proximaNovaRegular';
}

.header {
  background: white;
  position: fixed;
  top: 0;
  z-index: 99;
  max-width: 1400px;
}

.footer {
  width: 100%;
  margin-top: 50px;
  padding: 0;
}

.footer img, .header img {
  width: 100%;
  margin: 0 auto;
}

.footer img {
  margin-bottom: -5px;
}

.title {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  width: 61%;
  margin: 0 auto;
  line-height: 47px;
  margin-top: 70px;
}

.sub-title {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'proximaNovaBold';
}

.numbers {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.locator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 54%;
  margin: 50px auto;
  height: 55px;
  align-items: center;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 30px;
	height: 30px;
  font-weight: bold;
}

.stages {
  display: flex;
  justify-content: space-between;
  color: #31cca3;
  width: 100%;
}

.margin-left {
  margin-left: -15px;
}

.stage {
  font-size: 13px;
}

.line {
  border: 2px solid gray;
  width: 25%;
  z-index: -1;
  margin-top: 13px;
}

.line-enabled {
  border: 2px solid #31cca3;
}

.previous {
  color: white;
  background: #31cca3;
  border-radius: 50%;
  border: 2px solid #31cca3;
}

.enabled {
  color: #31cca3;
  background: white;
  border-radius: 50%;
  border: 2px solid #31cca3;
}

.disabled {
  background: lightgray;
  border-radius: 50%;
  color: darkgray;
}

.disabled-with-border {
  background: lightgray;
  color: darkgray;
  border-radius: 50%;
  border: 2px solid gray;
}

.categories-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1295px;
  margin: 0px auto;
}

.category {
  width: 417px;
  height: 380px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category-title {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 40%;
  font-size: 30px;
}

.img-category {
  width: 100%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: grayscale .15s ease-in-out;
  transition: all .2s ease-in-out;
}

.image-hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}

.overlay {
  background: RGB(61, 69, 77);
  position: absolute;
  width: 0px;
  padding: 100%;
  opacity: .3;
  z-index: 1;
}

.food-and-beverage {
  width: 118%;
}
